<div class="bg-black">

  <div class="flex px-52 justify-between pt-28">
    <img class="max-h-10" src="../../../assets/img/spotifyLogo.png" alt="">

    <div class="text-white flex gap-20">
      <ul class="flex flex-col gap-4 font-semibold">
        <h5 class="text-sm text-slate-400">COMPANY</h5>
        <li class="pt-6"> <a href=""> About</a></li>
        <li> <a href=""> Jobs</a></li>
        <li> <a href=""> For a Record</a></li>
      </ul>

      <ul class="flex flex-col gap-4 font-semibold">
        <h5 class="text-sm text-slate-400">COMMUNITIES</h5>
        <li class="pt-6"> <a href=""> For Artists</a></li>
        <li> <a href=""> Developers</a></li>
        <li> <a href="">Advertising</a></li>
        <li> <a href=""> Investors</a></li>
        <li> <a href=""> Vendors</a></li>
      </ul>

      <ul class="flex flex-col gap-4 font-semibold">
        <h5 class="text-sm text-slate-400">USEFUL LINKS</h5>
        <li class="pt-6"> <a href=""> Support</a></li>
        <li> <a href=""> Web Player</a></li>
        <li> <a href=""> Free Mobile App</a></li>
      </ul>


    </div>

    <ul class="flex gap-4">
      <li><a href=""> <img class="max-h-12 bg-slate-800 rounded-full p-3" src="../../../assets/img/instagram_svg.svg" alt=""> </a></li>
      <li><a href=""> <img class="max-h-12 bg-slate-800 rounded-full p-3" src="../../../assets/img/twitter_svg.svg" alt=""> </a></li>
      <li><a href=""> <img class="max-h-12 bg-slate-800 rounded-full p-3" src="../../../assets/img/face_svg.svg" alt=""> </a></li>
    </ul>

  </div>

  <div class="text-white text-sm flex justify-between px-52 pt-32">
    <ul class="flex gap-3 text-slate-400">
      <li> <a href="">Legal</a></li>
      <li> <a href="">Privacy Center</a></li>
      <li> <a href="">Privacy Policy</a></li>
      <li> <a href="">Cookie</a></li>
      <li> <a href="">About Ads</a></li>
      <li> <a href="">Cookies Settings</a></li>
    </ul>

    <ul class="flex flex-col gap-2">
      <li class="text-right"> <span>© </span> <a href="">USA</a></li>
      <li class="text-right mb-28"><p>© 2023 Spotify AB</p></li>
    </ul>
  </div>


</div>
