<div class="bg-black">
  <div class="max-w-7xl mx-auto my-0">
    <nav class="p-4 flex justify-between items-center text-white">
      <div>
        <img class="w-32" src="../../../assets/img/spotifyLogo.png" alt="Logo">
      </div>

      <ul class="flex gap-8 text-sm font-bold">
        <li><a href="">Premium</a></li>
        <li><a href="">Support</a></li>
        <li><a href="">Download</a></li>
        <li><span>|</span></li>
        <li><a href="">Sing up</a></li>
        <li><a href="">Log in</a></li>
      </ul>
    </nav>
  </div>

</div>
