<div class="bg-black">
  <div class="header-container">
    <nav class="header">
      <div>
        <img class="header-img" src="../../../assets/img/spotifyLogo.png" alt="Logo">
      </div>

      <ul class="links">
        <li><a class="link" href="">Premium</a></li>
        <li><a class="link" href="">Support</a></li>
        <li><a class="link" href="">Download</a></li>
        <li><span>|</span></li>
        <li><a class="link" href="">Sing up</a></li>
        <li><a class="link" href="">Log in</a></li>

      </ul>
    </nav>
  </div>

</div>
