<div class="bg-gray-200 pb-20">

  <div class="pt-16">
    <h1 class="text-4xl text-center font-bold">Pick your Premium</h1>
    <p class="text-center pt-3 font-normal">Listen without limits on your phone, speaker, and other devices.</p>

    <ul class="flex gap-2 justify-center pt-4">
      <li> <img src="../../../assets/img/visa.png" alt="Visa"></li>
      <li> <img src="../../../assets/img/master.png" alt="Master"></li>
      <li> <img src="../../../assets/img/amex.png" alt="Amex"></li>
      <li> <img src="../../../assets/img/discover.png" alt="Discover"></li>
      <li> <img src="../../../assets/img/paypalpng.png" alt="Pay Pal"></li>
    </ul>
  </div>

  <div class="flex pt-14 gap-8 px-72">

    <div class="bg-white p-4 flex flex-col justify-between card-height shadow-2xl rounded-md">
      <div>
        <span class="bg-blue-600 text-white font-bold text-sm py-1 px-4 rounded-md">2 months free</span>
        <h3 class="text-2xl font-bold">Individual</h3>
        <p>$9.99/month after offer period 1 account</p>
        <p class="text-white">__________________________________</p> <!-- provisório -->
        <ul class="flex flex-col gap-0 border-slate-400 border-t-2">
          <li class="pt-4 flex gap-2"> <span>✓</span>
            <p> Ad-free music listening </p>
          </li>
          <li class="pt-4 flex gap-2"> <span>✓</span>
            <p> Play anywhere - even offline </p>
          </li>
          <li class="pt-4 flex gap-2"> <span>✓</span>
            <p> On-demand playback </p>
          </li>

        </ul>
      </div>
      <div class="flex flex-col justify-center">
        <button class="bg-black text-white font-bold uppercase py-3 px-10 rounded-full text-sm">Get Started</button>
        <p class="text-small pt-4 pb-10"> <a href="" class="underline">Terms and conditions apply.</a> 1 month free not
          available for users who have already tried Premium.</p>
      </div>
    </div>

    <div class="bg-white p-4 flex flex-col justify-between card-height shadow-2xl rounded-md">
      <div>
        <span class="bg-blue-600 text-white font-bold text-sm py-1 px-4 rounded-md">1 month free</span>
        <h3 class="text-2xl font-bold">
          Duo</h3>
        <p>$12.99/month after offer period 2 accounts</p>
        <p class="text-white">__________________________________</p> <!-- provisório -->
        <ul class="flex flex-col gap-0 border-slate-400 border-t-2">
          <li class="pt-4 flex gap-2"> <span>✓</span>
            <p> 2 Premium accounts for a couple under one roof </p>
          </li>
          <li class="pt-4 flex gap-2"> <span>✓</span>
            <p> Ad-free music listening, play offline, on-demand playback </p>
          </li>

        </ul>
      </div>
      <div class="flex flex-col justify-center">
        <button class="bg-black text-white font-bold uppercase py-3 px-10 rounded-full text-sm">Get Started</button>
        <p class="text-small pt-4 pb-10"> <a href="" class="underline">Terms and conditions apply.</a> 1 month free not
          available for users who have already tried Premium.</p>
      </div>
    </div>

    <div class="bg-white p-4 flex flex-col justify-between card-height shadow-2xl rounded-md">
      <div>
        <span class="bg-blue-600 text-white font-bold text-sm py-1 px-4 rounded-md">2 months free</span>
        <h3 class="text-2xl font-bold">Family</h3>
        <p>$15.99/month after offer period 6 accounts</p>
        <p class="text-white">__________________________________</p> <!-- provisório -->
        <ul class="flex flex-col gap-0 border-slate-400 border-t-2">
          <li class="pt-4 flex gap-2"> <span>✓</span>
            <p> 6 Premium accounts for family members living under one roof </p>
          </li>
          <li class="pt-4 flex gap-2"> <span>✓</span>
            <p> Block explicit music </p>
          </li>
          <li class="pt-4 flex gap-2"> <span>✓</span>
            <p> On-demand playback </p>
          </li>
          <li class="pt-4 flex gap-2"> <span>✓</span>
            <p> Spotify Kids: a separate app made just for kids </p>
          </li>

        </ul>
      </div>
      <div class="flex flex-col justify-center">
        <button class="bg-black text-white font-bold uppercase py-3 px-10 rounded-full text-sm">Get Started</button>
        <p class="text-small pt-4 pb-10"> <a href="" class="underline">Terms and conditions apply.</a> 1 month free not
          available for users who have already tried Premium.</p>
      </div>
    </div>

    <div class="bg-white p-4 flex flex-col justify-between card-height shadow-2xl rounded-md">
      <div>
        <span class="bg-blue-600 text-white font-bold text-sm py-1 px-4 rounded-md">2 months free</span>
        <h3 class="text-2xl font-bold">Student</h3>
        <p>$4.99/month after offer period 1 account</p>
        <p class="text-white">__________________________________</p> <!-- provisório -->
        <ul class="flex flex-col gap-0 border-slate-400 border-t-2">
          <li class="pt-4 flex gap-2"> <span>✓</span>
            <p> Hulu (With Ads) plan </p>
          </li>
          <li class="pt-4 flex gap-2"> <span>✓</span>
            <p> SHOWTIME </p>
          </li>
          <li class="pt-4 flex gap-2"> <span>✓</span>
            <p> Ad-free music listening </p>
          </li>
          <li class="pt-4 flex gap-2"> <span>✓</span>
            <p> Play anywhere - even offline </p>
          </li>
          <li class="pt-4 flex gap-2"> <span>✓</span>
            <p> On-demand playback </p>
          </li>

        </ul>
      </div>
      <div class="flex flex-col justify-center">
        <button class="bg-black text-white font-bold uppercase py-3 px-10 rounded-full text-sm">Get Started</button>
        <p class="text-small pt-4 pb-10"> <a href="" class="underline">Terms and conditions apply.</a> 1 month free not
          available for users who have already tried Premium.</p>
      </div>
    </div>

  </div>

</div>
