
<div class="bg-purple-900 text-fuchsia-200 bg-provisorio">
<div class="banner-container">
  <div class="banner-container-main">
    <h1 class="text-4xl font-bold max-md:text-3xl">Get Premium free for 2 months</h1>
    <h3 class="text-xl font-semibold">Only $9.99/month after. Cancel anytime.</h3>
    <div class="flex gap-2 max-md:flex max-md:flex-col ">
      <button class="btn1">Get Started</button>
      <button class="btn2">View Plans</button>
    </div>
    <p class="text-xs texto-provisorio"> <span class="underline">Terms and conditions apply.</span> Individual plan only. $9.99/month after. 2 months free not available for users who have already tried Premium. Offer ends February 14, 2023.</p>
  </div>

  <img class="max-md:pt-20" src="../../../assets/img/initial-banner-img.png" alt="">
</div>

</div>
