<div class="bg-gray-100">

<div class="pb-20">

  <h1 class="text-center text-4xl font-bold mt-16">Why go Premium?</h1>

  <div class="flex justify-center gap-16 mt-14">
    <div class="flex flex-col ">
      <img src="../../../assets/img/img1.png" alt="">
      <h3 class="text-center font-semibold">Download music.</h3>
      <p class="text-center text-sm">Listen anywhere.</p>
    </div>

    <div class="flex flex-col ">
      <img src="../../../assets/img/img3.png" alt="">
      <h3 class="text-center font-semibold">Ad-free music listening.</h3>
      <p class="text-center text-sm">Enjoy nonstop music.</p>
    </div>

    <div class="flex flex-col ">
      <img src="../../../assets/img/img1.png" alt="">
      <h3 class="text-center font-semibold">Play any song.</h3>
      <p class="text-center text-sm">Even on mobile.</p>
    </div>

    <div class="flex flex-col ">
      <img src="../../../assets/img/img4.png" alt="">
      <h3 class="text-center font-semibold">Unlimited skips.</h3>
      <p class="text-center text-sm">Just hit next.</p>
    </div>



  </div>

</div>

</div>
