<div class="bg-gray-100">

<div class="pb-20 max-w-7xl mx-auto my-0 max-md:flex max-md:flex-col">

  <h1 class="text-center text-4xl font-bold mt-16">Why go Premium?</h1>

  <div class="flex justify-center gap-16 mt-14 max-md:flex-col max-md:pl-8">

    <div class="flex flex-col max-md:flex-row max-md:items-center">
      <img src="../../../assets/img/img1.png" alt="">
      <div class=" max-md:text-left max-md:pl-6">
      <h3 class="text-center font-semibold max-md:text-xl max-md:font-bold max-md:pb-4">Download music.</h3>
      <p class="text-center text-sm max-md:text-left max-md:text-base">Listen anywhere.</p>
    </div>
    </div>

    <div class="flex flex-col max-md:flex-row max-md:items-center">
      <img src="../../../assets/img/img3.png" alt="">
      <div class="max-md:text-left max-md:pl-6">
      <h3 class="text-center font-semibold max-md:text-xl max-md:font-bold max-md:pb-4">Ad-free music listening.</h3>
      <p class="text-center text-sm max-md:text-left max-md:text-base">Enjoy nonstop music.</p>
    </div>
    </div>

    <div class="flex flex-col max-md:flex-row max-md:items-center">
      <img src="../../../assets/img/img1.png" alt="">

      <div class="max-md:text-left max-md:pl-6">
      <h3 class="text-center font-semibold max-md:text-xl max-md:font-bold max-md:pb-4">Play any song.</h3>
      <p class="text-center text-sm max-md:text-left max-md:text-base">Even on mobile.</p>
    </div>
    </div>

    <div class="flex flex-col max-md:flex-row max-md:items-center">
      <img src="../../../assets/img/img4.png" alt="">

      <div class="max-md:text-left max-md:pl-6">
      <h3 class="text-center font-semibold max-md:text-xl max-md:font-bold max-md:pb-4">Unlimited skips.</h3>
      <p class="text-center text-sm max-md:text-left max-md:text-base">Just hit next.</p>
    </div>
    </div>



  </div>

</div>

</div>
